.card-primary {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  /* background-color: #222d32; */
  opacity: 0.85;
  color: #fff;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  border-radius: 5px;
}
.red {
  color: #fff;
  cursor: pointer;
}
.red:hover {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: underline;
}
