<div class="card card-outline card-primary">
  <div class="card-header text-center">
    <a href="../../index2.html" class="h1" style="color: #fff;"><b>UNAZ</b></a>
  </div>
  <div class="card-body">
    <p class="login-box-msg" style="font-weight: bolder;">Register a new membership</p>

    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <input 
        type="text" 
        class="form-control"
        placeholder="User Name" 
        formControlName="username"
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f?.username?.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">UserName is required</div>
          <div *ngIf="f.username.errors.username">UserName must be a valid</div>
      </div>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input 
        type="email" 
        class="form-control"
        placeholder="Email" 
        formControlName="email"
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f?.email?.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input 
        type="password" 
        class="form-control" 
        placeholder="Password" 
        formControlName="password"  
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input 
        type="password" 
        class="form-control" 
        placeholder="Retype Password" 
        formControlName="confirmPassword"  
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
          <div *ngIf="f.confirmPassword.errors.minlength">confirmPassword must be match</div>
      </div>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="icheck-primary">
            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
            <label for="agreeTerms">
             I agree to the <a href="#" style="color: #007bff;">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i>
        Sign up using Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i>
        Sign up using Google+
      </a>
    </div>

    <a routerLink="/login"><span class="red">I already have a membership</span> </a>
  </div>
  <!-- /.form-box -->
</div>